<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Analyzer</title>
</head>
<body>
    <div class="mb-3">
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="link" class="form-label">Upload Link Here</label>
                <input type="text" class="form-control" name="httpLink" id="link" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>
    </div>
</body>
</html>